* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

h3 {
	margin-top: 0;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 15px;
}

.dropdown {
  position: relative;
	width: 100%;
	max-width: 300px;
}

.dropdown__header,
.dropdown__list {
	border-radius: 5px;
	border: 1px solid #e3ebef;
	background: #f6f7f8;
}

.dropdown__header {
	padding: 10px 30px 10px 10px;
	cursor: pointer;
	position: relative;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 16px;
	width: 100%;
	text-align: left;
	font-family: inherit;
	z-index: 2;
}

.dropdown__header::before {
	content: '';
	position: absolute;
	width: 8px;
	height: 8px;
	background: linear-gradient(45deg, #11b3fe 50%, transparent 50%);
	right: 15px;
	top: 12px;
	transform: rotate(-45deg);
}

.dropdown__list {
	position: absolute;
	left: 0;
	min-width: 100%;
	bottom: 42px;
	transform: translate(0, 100%);
	padding: 0;
	list-style: none;
	margin: 0;
	max-height: 190px;
	overflow: auto;
	pointer-events: none;
	opacity: 0;
	transition: bottom 0.25s, opacity 0.25s;
}

.dropdown__list.active {
	pointer-events: all;
	opacity: 1;
	bottom: 0;
}

.dropdown__btn {
	display: block;
	width: 100%;
	text-align: left;
	background: none;
	padding: 5px 10px;
	border: 0;
	outline: none;
	cursor: pointer;
	font-size: 16px;
	font-family: inherit;
}

.dropdown__btn:hover,
.dropdown__btn.active {
	background: #eaf1f7;
}

.dropdown__btn:disabled {
	opacity: 0.5;
	pointer-events: none;
	background: none;
}

.dropdown__btn--red {
	color: red;
}
